.header {
  border-bottom: var(--border);
  padding-block: 20px;

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px; // TODO: Check without it
  }

  &__dialog {
    @include square(100%);

    position: fixed;
    inset: 0;
    display: contents;
  }

  &__menu {
    &-list {
      display: flex
    }

    &-link {
      color: var(--color-grey-15);
      text-decoration: none;
      padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
      border-radius: var(--border-radius-xs);


      @include hover {
        color: var(--color-orange-50);
      }

      &.is-active {
        color: var(--color-grey-15);
        background-color: var(--color-white-95);
        pointer-events: none;
      }
    }
  }

  &__actions {
    display: flex;
    margin-left: auto;
  }

  &__login-button {
    background-color: var(--color-orange-50);
    color: var(--color-white);

    @include hover {
      background-color: var(--color-orange-70);
    }
  }
}