.button {
  @include flex-center;

  border-radius: var(--border-radius-s);
  border: none;
  text-align: center;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  &:has(.button__icon:only-child) {
    @include square(fluid-to-laptop(52, 44));

    padding: 0;
  }

  &--transparent {
    background-color: transparent;

    @include hover {
      color: var(--color-orange-50);
    }
  }

  &--white {
    background-color: var(--color-white);

    @include hover {
      color: var(--color-orange-50);
    }
  }

  &--white-97 {
    background-color: var(--color-white-97);
  }

  &--primary {
    background-color: var(--color-orange-50);
    color: var(--color-white);

    @include hover {
      background-color: var(--color-orange-70);
    }
  }
}