.video-stub {
  margin-block: var(--section-padding-y);

  &__container {
    @include flex-center;
    @include square(100%);

    position: relative;
    height: fluid(760, 240);
    background: url('../../assets/images/vid-stub.jpg') top / cover no-repeat;
    border-radius: var(--border-radius-l);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%);
      border-radius: inherit;
    }
  }

  &__play-btn {
    @include square(72px);
    @include flex-center;

    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 20%);
    border: 6px solid rgb(255 255 255 / 30%);
    color: var(--color-white);

    @include tablet {
      @include square(54px);
    }
  }
}