
body {
  @include fluid-typo(18, 14);

  font-family: var(--font-family-base), sans-serif;
  color: var(--color-grey-35);
  background-color: var(--color-white-97);
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: fluid(30, 16);
  padding-block-start: 20px;

  @include mobile-s {
    padding-block-start: 40px;
  }
}

h1, .h1 {
  @include fluid-typo(48, 28);

  font-weight: 600;
}

h2, .h2 {
  @include fluid-typo(38, 24);

  font-weight: 500;
}

h4, .h4 {
  @include fluid-typo(20, 18);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

:focus-visible {
  @include focus-visible;
}