.partners {
  &__list {
    padding: fluid(30, 10);
    width: 100%;
    background-color: var(--color-white-99);
    border-radius: var(--border-radius-m);
    border: var(--border);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  &__item {
    padding: fluid-to-laptop(30, 20) fluid(50, 30);
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    
    &:not(:last-child) {
      border-right: var(--border);
    }

    &-logo {
      width: 100px;
      height: 34px;
    }
  }
}